:root {
  --linear-gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

main {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('images/bg-top.svg') no-repeat;
  width: 25%;
  height: 100%;
}

body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 28%;
  background: url('images/bg-bottom.svg') no-repeat;
}

h2 {
  font-size: 1rem;
  text-align: center;
  color: var(--grayish-blue);
}

.prices {
  font-size: 4rem;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.prices div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

.dollar-sign {
  font-size: 2rem;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 4rem;
  z-index: 6;
}

.card {
  width: 350px;
  background: #fff;
  padding: 2rem;
}

.card:first-child {
  border-radius: 10px 0 0 10px;
}

.card:last-child {
  border-radius: 0 10px 10px 0;
}

.featured {
  padding: 4rem 2rem;
  color: #fff;
  background: linear-gradient(180deg, hsl(236, 72%, 79%) 5%, hsl(237, 63%, 64%));
  border-radius: 10px;
}

.featured h2 {
  color: var(--very-light-grayish-blue);
}

ul {
  border-top: 1px solid var(--light-grayish-blue);
  padding: 0;
  text-align: center;
  font-size: 0.75rem;
}

li {
  margin: 0;

  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

button {
  background: linear-gradient(90deg, hsl(236, 72%, 79%) 5%, hsl(237, 63%, 64%));
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}

button:hover {
  border: 1px solid hsl(237, 63%, 64%);
  background: #fff;
  color: hsl(237, 63%, 64%);
}

.featured button {
  background: #fff;
  color: hsl(237, 63%, 64%);
}

.featured button:hover {
  border: 1px solid #fff;
  background: hsl(237, 63%, 64%);
  color: #fff;
}

.hidden {
  display: none !important;
}

.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
  background: none;
}

.tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl+.tgl-btn:after {
  left: 0;
}

.tgl+.tgl-btn:before {
  display: none;
}

.tgl:checked+.tgl-btn:after {
  left: 50%;
}

.tgl-light+.tgl-btn {
  background: linear-gradient(90deg, hsl(236, 72%, 79%) 5%, hsl(237, 63%, 64%));
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.tgl-light+.tgl-btn:hover {
  opacity: 0.5;
}

.tgl-light+.tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.tgl-light:checked+.tgl-btn {
  background: linear-gradient(90deg, hsl(236, 72%, 79%) 5%, hsl(237, 63%, 64%));
}